body {
	margin: 0;
	padding: 0;
}
#bg1 {
	background: url(./a0001_011562_m.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 300px;
}
#bg1_fixed {
	background: url(./a0001_011562_m.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.bg2 {
	background: url(./a0001_011562_m.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 300px;
}

.bg3 {
	background: url(./a0001_011562_m.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}
.bg4 {
	background: url(./a0001_011562_m.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 300px;
}
.bg5 {
	background: url(./a0001_011562_m.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	height: 300px;
}
.bg6 {
	background: url(./a0001_011562_m.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 300px;
}
.bg7 {
	background: url(./a0001_011562_m.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 300px;
}
.bg8 {
	background: url(./a0001_011562_m.jpg);
	background-repeat: no-repeat;
	height: 300px;
}
.none {
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 300px;
}

#bg1, #bg1_fixed, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7, .bg8, .none {
	background-color: #eee;
}

.sizefix {
	width: 300px;
	height: 300px;
}
